-use zoocreative\rbac\widgets\Assignments;
-$this->beginContent('@zoocreative/user/views/admin/update.php', ['user' => $user])

!= yii\bootstrap\Alert::widget(['options' => ['class' => 'alert-info alert-dismissible',],'body' => Yii::t('user', 'You can assign multiple roles or permissions to user by using the form below'),])

!= Assignments::widget(['userId' => $user->id])

-$this->endContent()
