-use zoocreative\user\widgets\Connect;
-use yii\helpers\Html;

-$view->params['title'] = "Update Networks";
-$view->params['class'] = "inner";

!= $view->render('/_alert', ['module' => Yii::$app->getModule('user')])

.grid-container
    .grid-x.grid-margin-x
        .medium-3.cell
            != $view->render('_menu.haml')
        .auto.cell
            .callout.alert
                != Yii::t('user', 'You can connect multiple accounts to be able to log in using them')
            -$auth = Connect::begin(['baseAuthUrl' => ['/user/security/auth'],'accounts' => $user->accounts,'autoRender' => false,'popupMode' => false])
            %table
                -foreach ($auth->getClients() as $client)
                    %tr
                        %td
                            !=Html::tag('span', '', ['class' => 'auth-icon ' . $client->getName()])
                        %td
                            %strong
                                != $client->getTitle()
                        %td
                            -if ($auth->isConnected($client))
                                !=Html::a(Yii::t('user', 'Disconnect'), $auth->createClientUrl($client), ['class' => 'btn btn-danger btn-block','data-method' => 'post'])
                            -else
                                !=Html::a(Yii::t('user', 'Connect'), $auth->createClientUrl($client), ['class' => 'btn btn-success btn-block'])
            -Connect::end()