-use yii\helpers\Html;
-use yii\widgets\ActiveForm;

-$view->params['title'] = "Reset Password";
-$view->params['class'] = "inner";

.grid-container
    .grid-x.grid-margin-x
        -$form = ActiveForm::begin(['id' => 'password-recovery-form','enableAjaxValidation' => true,'enableClientValidation' => false]);
        != $form->field($model, 'password')->passwordInput()
        != Html::submitButton(Yii::t('user', 'Finish'), ['class' => 'btn btn-success btn-block'])
        -ActiveForm::end();
