-use yii\helpers\Html;
-use yii\widgets\ActiveForm;

-$view->params['title'] = "Resend Verification";
-$view->params['class'] = "inner";

.grid-container
    .grid-x.grid-margin-x
        -$form = ActiveForm::begin(['id' => 'resend-form','enableAjaxValidation' => true,'enableClientValidation' => false]);
        != $form->field($model, 'email')->textInput(['autofocus' => true])
        != Html::submitButton(Yii::t('user', 'Continue'), ['class' => 'btn btn-primary btn-block'])
        -ActiveForm::end();
